* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container.popup {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.card {
    width: 20%;
    margin: 10px;
    padding: 0 20px;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    transition: box-shadow .1s linear, transform .1s linear;
}

.card .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card .btn {}

.card:hover {
    box-shadow: 2px 3px 5px #cccccc;
    transform: scale(1.01);
}

.card-title {
    margin: 10px 0 5px 0;
}

button#addBtn {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    outline: none;
}

button#addBtn i {
    font-size: 20px;
}

.bookForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 231, 231, .7);
    border-radius: 30px;
    visibility: hidden;
}

.bookForm.active {
    visibility: visible;
}

.bookForm>input {
    outline: none;
    width: 65%;
    margin: 15px 0;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #000;
    background-color: transparent;
}

.bookForm button {
    margin-top: 30px;
    padding: 10px;
    width: 65%;
    border-radius: 25px;
    border: 1px solid #000;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}